<div class ="image-gallery">
    {% assign sorted = site.static_files | sort: 'date' | reverse %}
    {% for file in sorted %}
    {% if file.path contains 'thumbs' %}
    {% if file.extname == '.jpg' %}
      {% assign filenameparts = file.path | split: "/" %}
        {% assign filename = filenameparts | last | replace: file.extname,"" %}
         <div class="box"><a href="{{ site.imagesurl }}{{ file.name }}">
          <img src="{{ site.thumbsurl }}{{ file.name }} " alt="{{ file.name }}"  class="img-gallery" />
         </a></div>
        {% endif %}
      {% endif %}
    {% endfor %}
   </div>